.stageBackground {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, #d0e4f0 0%, #e8f0f5 100%);
    z-index: 0;
  }

  .hills {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, #c0e0c0 0%, #7a9a6a 100%);
    z-index: 0;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
